<section class="c-chat-box_first-section" role="button">
	{{inline-svg 'images/icons/icon-update' class="c-chat-box_upload-icon"}}
</section>

<section class="c-chat-box_second-section">
	{{auto-resize-textarea
	  classNames="c-chat-box_input"
	  id="chat-area"
	  onChange=(action onValueChange)
	  value=value
	  rows=1
	}}
</section>

{{#if isSendButtonVisible}}
	<button class="c-chat-box_btn-send" {{action (action "doComment")}}>
	 Send
	</button>
{{/if}}
