<section class="c-chat-box_first-section" role="button">
	{{inline-svg 'images/icons/icon-update' class="c-chat-box_upload-icon"}}
</section>

<section class="c-chat-box_second-section" role="button" {{action (action 'tapInput')}}>
	{{auto-resize-textarea
	  classNames="c-chat-box_input"
	  id="chat-area"
	  onKeyDown=(action "doKeyDown")
	  onKeyUp=(action "doKeyUp")
	  onFocusIn=(action "doFocusIn")
	  onFocusOut=(action "doFocusOut")
	  value=comment
	  rows=1
	}}
</section>

<button class="c-chat-box_btn-send" {{action (action 'doComment')}}>
  Send
</button>
