{{textarea
  classNames="white || chat-input"
  id="chat-area"
  key-down="doKeyDown"
  key-up="doKeyUp"
  focus-in="doFocusIn"
  focus-out="doFocusOut"
  value=comment
}}

<button class="btn btn-chat-send" {{action (action 'doComment')}}>
  Send
</button>
