{{auto-resize-textarea
  classNames="white || c-chat-box_input"
  id="chat-area"
  onKeyDown=(action "doKeyDown")
  onKeyUp=(action "doKeyUp")
  onFocusIn=(action "doFocusIn")
  onFocusOut=(action "doFocusOut")
  value=comment
  rows=1
}}

<button class="btn || c-chat-box_btn-send" {{action (action 'doComment')}}>
  Send
</button>
