.app-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-ground-floor;
  background: map-get($colours, 'pink');
  width: 100vw;
  height: 100vh;
}

.new-message {
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 1000;
  background-color: purple;
  width: 100%;
  height: 2px;
}

.new-message_label {
  position: absolute;
  right: 0;
  top: -8px;
}