.list {
  padding: 10px;
}

.app-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $ground-floor;
  background: map-get($colours, 'pink');
  width: 100vw;
  height: 100vh;
}

@keyframes loading {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes loading_icon {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.c-loading-page {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: $z-ceiling;
	animation: loading $speed-fast;
	background: map-get($shades, 'white');

	&_icon {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 40px;
		height: 40px;
		fill: map-get($blue, 'base');
		margin: auto;
		animation: loading_icon $speed-slow infinite;
	  
	}

  .svg-loading_slice {
    opacity: 0.2;
  }
}