.app-background {
  position: fixed;
  z-index: $z-ground-floor;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: map-get($pink, 'base');
}

// Objects
.o-stream-members-list {
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

.freestyle-container {
  overflow: hidden;
}

.FreestyleVariant--inline {
  width: 100%;
}
