 *,
 *:before,
 *:after {
	box-sizing: border-box;
 }

[data-ember-action] {
 cursor: pointer;
}

html, body {
	margin: 0;
	-webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

textarea {
  outline: none;
  resize: none;
}

input:not([type]),
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
textarea.materialize-textarea {
	height: 1.2em;
	margin: 0;
}

.ember-application > .ember-view {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

::-webkit-scrollbar { 
  display: none; 
}
