* {
	box-sizing: border-box;
}

[data-ember-action] {
 cursor: pointer;
}

html, body {
	margin: 0;
	-webkit-overflow-scrolling: touch;
}

h1 {
	margin: 0;
}

p {
	margin: 0;
}

.ember-application > .ember-view {
	display: flex;
	flex-direction: column;
	height: 100vh;
}