{{#if session.isAuthenticated}}
  {{#if session.person.name}}
    <div {{action (action 'logout' target=session)}}>
      Logout
    </div>
    <div>
      Logged in as {{session.person.name}}
    </div>
  {{/if}}
{{/if}}

{{outlet}}
