{{#if session.isAuthenticated}}

  <header class="pink z-depth-1 || section-header">

    <div class="btn" {{action (action 'logout' target=session)}}>
      Logout
    </div>

    {{#if session.person.name}}
      <div class="white">
        Logged in as {{session.person.name}}
      </div>
    {{/if}}
  </header>

  <header id="header-destination" class="pink z-depth-1 || stream-header"></header>

{{/if}}

{{outlet}}
