.c-avatar-image {
  display: flex;
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  border: 1px solid map-get($grey, 'base');
  border-radius: 100%;
  background: map-get($grey, 'darken-1');

  // Modifiers
  &--small {
    @extend .c-avatar-image;
    width: 20px;
    height: 20px;
  }

  &.is-green {
    border: 1px solid map-get($green, 'base');
  }

  // Elements
  &_img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }

  &_initials {
    font-size: 10px;
    line-height: 1em;
    color: map-get($shades, 'white');
  }
}
