$button-line-height: 1.5rem;

.btn--small {
	font-size: 10px;
	line-height: $button-line-height;
	height: $button-line-height;
}

.btn-switch-user {
	margin-top: 5px;
}

.btn-load-earler {
	margin-top: 5px;
}
