$button-line-height: 1.5rem;

.btn--small {
	font-size: 10px;
	line-height: $button-line-height;
	height: $button-line-height;
}

.btn-switch-user {
	margin-top: 5px;
}

.btn-load-earler {
	display: block;
	position: relative;
	margin: 0 auto $margin-large;
	z-index: $z-comment-floats;
	background-color: map-get($blue, 'base');
	color: map-get($shades, 'white') ;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

	&--login {
		@extend .button;
		width: 35vw;
		min-width: 41px;
		padding: 10px 15px;
		margin: 15px auto 0;
		color: map-get($shades, 'white');
		background-color: map-get($blue, 'base');
		text-transform: uppercase;
	}

	&_title {
		flex: 1 0 auto;
		text-align: center;
	}
}
