$button-line-height: 1.5rem;

.btn--small {
	font-size: 10px;
	line-height: $button-line-height;
	height: $button-line-height;
}

.btn-switch-user {
	margin-top: 5px;
}

.btn-load-earler {
	display: block;
	position: relative;
	margin: 0 auto $margin-large;
	z-index: $z-comment-floats;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button--login {
	@extend .button;
	width: 35vw;
	min-width: 41px;
	padding: 10px 15px;
	margin: 15px auto 0;
	color: map-get($shades, 'white');
	background-color: map-get($blue, 'base');
}