.c-chat-notifier {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: auto;
	min-height: 30px;
	padding: 3px 10px;
	background-color: map-get($purple, 'darken-1');
	color: map-get($shades, 'white');
	fill: map-get($shades, 'white');
	z-index: $z-body-float;

	&:hover {
		background-color: darken(map-get($purple, 'darken-2'), 10);
	}

	// Elements
	&_first-section {
		flex: 0 0 30px;
		@include safe-tap-area($width: 120%, $top: -4px, $left: -10px);
	}

	&_title {
		@include safe-tap-area($width: 100%, $top: -7px, $left: 0);
		flex: 1 1 auto;
		font-size: 12px;
		text-align: center;
	}

	&_close {
		@include safe-tap-area($width: 120%, $top: -7px, $right: -10px, $left: initial);
		flex: 0 0 30px;
		display: flex;
		align-content: center;
		justify-content: flex-end;
		margin-left: 10px;
	}

	&_icon-up {
    display: inline-block;
		width: 12px;
		height: auto;
    vertical-align: middle;
	}

	&_close-icon {
		width: 15px;
		height: 15px;
	}
}