.c-chat-box {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  margin: 10px;

  // States
  // .is-carrot-invisible

  // Layouts
  &_first-section {
    display: flex;
    flex: 0 0 auto;
  }

  &_upload-icon {
    width: 25px;
    height: 25px;
    fill: map-get($blue, 'base');
  }

  &_second-section {
    // TODO: Add box-shadow
    position: relative;
    z-index: $z-chat-box;
    flex: 1 0 20px;
    padding: 5px;
    border: 1px solid map-get($grey, 'lighten-1');
    border-radius: 3px;
    margin: 0 10px;
    background-color: map-get($shades, 'white');
  }

  // Elements
  &_input {
    visibility: visible;
    display: block;
    width: 100%;
    // NOTE: Initial height before js takes over
    height: 21px;
    max-height: 103px;
    padding: 0;
    border: 0 solid transparent;
    margin: auto;
    background-color: inherit;

    @at-root .c-chat-box.is-carrot-invisible .c-chat-box_input {
      visibility: hidden;
    }
  }

  &_btn-send {
    @extend .button;
    flex: 0 0 auto;
    max-width: 52px;
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: map-get($blue, 'base');
    text-transform: uppercase;
    animation: grow-in--horizontal $speed-slow;
  }
}

