.c-comments-section {
  flex: 1 1 auto;
  padding: 10px;
  position: relative;
  overflow-y: scroll;	
  cursor: pointer;
  -webkit-overflow-scrolling: touch;
  will-change: height, scroll-position;
  transform: height $speed-fast;

	// NOTE: Trick to get IOS over-scroll working when there is one comment
	&::before {
		content: '';
		display: block;
		position: absolute;
		top: -1px;
		left: 0;
		bottom: -1px;
		width: 1px;
	}
}