.c-icon {
	&--back {
	  display: inline-block;
		width: 21px;
		height: 21px;
		fill: map-get($shades, 'white');
	  vertical-align: middle;
	}

	&--logout {
		display: inline-block;
		width: 21px;
		height: 21px;
		fill: map-get($shades, 'white');
		vertical-align: middle;
	}
}