.c-loading-page {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	z-index: $z-ceiling;
	// animation: loading $speed-fast;
	background: map-get($shades, 'black');

	&_icon {
		width: 40px;
		height: 40px;
		fill: map-get($blue, 'base');
		animation: loading_icon $speed-slow infinite;
	  
	}

	&--body {
		@extend .c-loading-page;
		position: relative;
	}

  .svg-loading_slice {
    opacity: 0.2;
  }
}