.c-load-earlier {
  @extend .btn;
  background-color: map-get($amber, 'base');
  display: block;
  position: relative;
  margin: 0 auto $margin-large;
  z-index: $z-comment-floats;
  width: 140px;
  height: $button-line-height;
  font-size: 10px;
  line-height: $button-line-height;

  &_icon {
    width: 15px;
    height: 15px;
    margin: 3px auto 0;
    fill: currentColor;
    animation: rotate $speed-normal infinite;

    .svg-loading_slice {
      opacity: 0.2;
    }
  }
}
