.c-mention-list {
	background-color: map-get($shades, 'white');
	width: 100%;
	padding: 15px 0;

	// Modifiers
	&--chat-box {
		@extend .c-mention-list;
		position: absolute;
		bottom: 0;
		left: 0;
		margin-bottom: 15px;
	}

	// Elements
	&_title {
		text-align: center;
		font-size: 14px;
	}

	&_list {
		height: 100%;
		max-height: 180px;
		overflow-y: scroll;
	}
}