$component-name: l-stream-comment;

.l-stream-comment {
	position: relative;
	width: 100%;
	height: auto;
	min-height: 32px;
	margin-bottom: 20px;;
	position: relative;

	// States
	// .is-open
	// .is-editing

	// Modifiers
	&--message {

	}
	
	&_text {
		line-height: 1.2rem;
		word-break: break-word;
    white-space: pre-wrap;
    hyphens: auto;
	}

	// Elements
	&_front {
		position: relative;
		z-index: $z-stream-blocks + 10;
		width: 100%;
		border-radius: 3px 3px 3px 13px;
		background: map-get($shades, 'white');
		transform: translateX(0);
		transition: transform $speed-fast, background $speed-fast;

		@at-root .#{$component-name}.is-open .#{$component-name}_front {
			transform: translateX(-80%);
		}

		@at-root .#{$component-name}.is-editing .#{$component-name}_front {
			background: map-get($yellow, 'base');
		}
	}

	&_back {
		position: absolute;
		z-index: $z-stream-blocks;
		top: 0;
		right: 0;
		width: 80%;
		height: 100%;
	}
}
// l-stream-comment