$component-name: l-stream-comment;

.l-stream-comment {
  position: relative;
  width: 100%;
  min-height: 32px;
  margin-bottom: 10px;
  transition: transform $speed-very-fast;

  // States
  // .is-editing

  // Elements
  &_front {
    position: relative;
    z-index: $z-stream-blocks + 10;
    width: 100%;
    border-radius: 3px 3px 3px 13px;
    background: map-get($shades, 'white');
    transition: background $speed-slow;
    touch-action: pan-x;

    // NOTE: Speech box tick
    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      display: block;
      width: 0;
      border-width: 18px 0 0 18px;
      border-style: solid;
      border-color: map-get($shades, 'white') transparent;
      transition: border-color $speed-very-fast;

      @at-root .#{$component-name}.is-editing .#{$component-name}_front::after {
        border-color: map-get($yellow, 'base') transparent;
      }
    }

    @at-root .#{$component-name}.is-editing .#{$component-name}_front {
      background: map-get($yellow, 'base');
    }
  }

  &_back {
    position: absolute;
    z-index: $z-stream-blocks;
    top: 0;
    right: 0;
    width: 80%;
    height: calc(100% - 10px);
  }
}
