.c-stream-comment {
	@extend .chip;
	display: flex;
	align-content: center;
	height: auto;
	min-height: 32px;
	margin-bottom: 10px;

	// Elements
	&_author {
		flex: 0 0 auto;
		align-self: flex-start;
		margin: 5px 5px 0 0;
		p {
			line-height: 1.2rem;
		}
	}

	&_body {
		flex: 1 1 32px;
    align-self: flex-start;
		margin: 5px 5px 5px 0;

	}
	
	&_text {
		line-height: 1.2rem;
		word-break: break-word;
    white-space: pre-wrap;
    hyphens: auto;
	}

	&_option {
		flex: 0 0 44px;
    align-self: flex-start;
		margin: 5px 5px 5px 0px;
		border-radius: 2px;
		text-align: center;
		color: map-get($shades, 'white');

		&:last-child {
			margin-right: 0;
		}
	}

	&_time-stamp {
		float: right;
		font-size: 10px;
		line-height: 1em;
		color: map-get($grey, 'lighten-1');
	}
}