.c-tabs {
	@extend .z-depth-1;
	flex: 0 0 35px;
	display: flex;
	position: relative;
  align-items: center;
  z-index: $z-body + 10;
	border-top: 1px solid map-get($blue, 'lighten-4');
	background-color: map-get($shades, 'white');
	text-align: center;

	&_item {
		flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
		height: 100%;
	}

	&_icon {
		width: 20px;
		height: 20px;
		fill: map-get($blue, 'lighten-4');
		transition: fill $speed-normal;

		@at-root .c-tabs_item.active .c-tabs_icon {
			fill: map-get($blue, 'base');
		}
	}

	$number-of-tabs: 2;

	&_line {
		position: absolute;
		top: -1px;
		left: 0;
		width: calc(100% / #{$number-of-tabs});
		height: 1px;
		background: map-get($blue, 'base');
		z-index: $z-middle-floor;
		transition: transform $speed-fast ease-in-out;
		transform: translateX(0%);

		@for $i from 2 through $number-of-tabs {
			@at-root .c-tabs .c-tabs_item:nth-child(#{$i}).active ~ .c-tabs_line {
				transform: translateX(#{$i - 1}00%);
			}
		}
	}
}