{{#ember-wormhole to="header-content-destination"}}
  <p class="a-fade-in o-stream-members-list">{{headerContent}}</p>
{{/ember-wormhole}}


{{#liquid-if isNotifierVisible class="l-app-body_top-anchor"}}
  {{unread-notifier
    lastReadAt=sessionMember.lastReadAt
    click=(action "toggleNotifierVisibility")}} 
{{/liquid-if}}

{{comments-section
  classNames="js-comments-section"
  comments=comments
  typers=typers
  sessionMember=sessionMember
  isLoadingEarlier=isLoadingEarlier
  updateComment=(action "updateComment")
  deleteComment=(action "deleteComment")
  loadEarlier=(action "loadEarlier")
  newMessagesTop=newMessagesTop
}}

<div class="c-footer js-chat-box">
  {{chat-box
    doComment=(action "createComment")
    doTyping=(action "doTyping")
    isKeyboardOpen=isKeyboardOpen
  }}
</div>


