{{#liquid-if
  isNotifierVisible
  use="toUp"
  class="l-app-body_top-anchor"}}

  {{unread-notifier
    numberOfUnreadComments=unreadCommentsLength
    onTapArrowUp=(action "scrollToLastRead")
    onTapBody=(action "setAllMessagesAsRead")
    onTapClose=(action "setAllMessagesAsRead")}}
{{/liquid-if}}

{{comments-section
  classNames="js-comments-section"
  comments=comments
  typers=typers
  sessionMember=sessionMember
  isShowingAllComments=isShowingAllComments
  isLoadingEarlier=isLoadingEarlier
  updateComment=(action "updateComment")
  deleteComment=(action "deleteComment")
  loadEarlier=(action "loadEarlier")
  newMessagesTop=newMessagesTop
}}

{{#if sessionMember}}
  <div class="c-footer js-chat-box">
    {{chat-box
      doComment=(action "createComment")
      doTyping=(action "doTyping")
      isKeyboardOpen=isKeyboardOpen
    }}
  </div>
{{/if}}

