{{#if isNoticeVisible}}
  <div class="notice z-depth-2">
    <p>{{typingNotice}}</p>
    {{#if isLoadingEarlier}}
      <p>loading...</p>
    {{/if}}
  </div>
{{/if}}

{{!-- BODY --}}
<div>
  {{comments-section
    classNames="list"
    comments=comments
    typers=typers
    updateComment=(action "updateComment")
    deleteComment=(action "deleteComment")
    loadEarlier=(action "loadEarlier")
  }}
</div>
{{!-- END OF BODY --}}

{{#ember-wormhole to="footer-destination"}}
  {{chat-box
    doComment=(action "createComment")
    doTyping=(action "doTyping")
    isKeyboardOpen=isKeyboardOpen
    classNames="chat-box"
  }}
  <div class="keyboard pink the-force"></div>
{{/ember-wormhole}}

