{{#if false}}
  {{#liquid-if isNotifierVisible class="l-app-body_top-anchor"}}
    {{unread-notifier
      lastReadAt=sessionMember.lastReadAt
      click=(action "toggleNotifierVisibility")}}
  {{/liquid-if}}
{{/if}}

{{comments-section
  classNames="js-comments-section"
  comments=comments
  typers=typers
  sessionMember=sessionMember
  isShowingAllComments=isShowingAllComments
  isLoadingEarlier=isLoadingEarlier
  updateComment=(action "updateComment")
  deleteComment=(action "deleteComment")
  loadEarlier=(action "loadEarlier")
  newMessagesTop=newMessagesTop
}}

{{#if sessionMember}}
  <div class="c-footer js-chat-box">
    {{chat-box
      onTapInput=(action "tappedInput")
      doComment=(action "createComment")
      doTyping=(action "doTyping")
      isKeyboardOpen=isKeyboardOpen
    }}
  </div>
{{/if}}

