{{#ember-wormhole to="header-content-destination"}}
  {{headerContent}}
{{/ember-wormhole}}

{{!-- BODY --}}
{{comments-section
  classNames="list"
  comments=comments
  typers=typers
  sessionMember=sessionMember
  updateComment=(action "updateComment")
  deleteComment=(action "deleteComment")
  loadEarlier=(action "loadEarlier")
}}

<div class="pink || c-footer">
  {{chat-box
    doComment=(action "createComment")
    doTyping=(action "doTyping")
    isKeyboardOpen=isKeyboardOpen
  }}

  <div class="keyboard pink the-force"></div>
</div>
{{!-- END OF BODY --}}


