{{#ember-wormhole to="header-content-destination"}}
  {{headerContent}}
{{/ember-wormhole}}

{{!-- BODY --}}
<div>
  {{comments-section
    classNames="list"
    comments=comments
    typers=typers
    sessionMember=sessionMember
    updateComment=(action "updateComment")
    deleteComment=(action "deleteComment")
    loadEarlier=(action "loadEarlier")
  }}
</div>
{{!-- END OF BODY --}}

{{#ember-wormhole to="footer-destination"}}
  {{chat-box
    doComment=(action "createComment")
    doTyping=(action "doTyping")
    isKeyboardOpen=isKeyboardOpen
    classNames="chat-box"
  }}
  <div class="keyboard pink the-force"></div>
{{/ember-wormhole}}

