{{#if false}}
  {{#liquid-if isNotifierVisible class="l-app-body_top-anchor"}}
    {{unread-notifier
      lastReadAt=sessionMember.lastReadAt
      click=(action "toggleNotifierVisibility")}}
  {{/liquid-if}}
{{/if}}

{{comments-section
  classNames="js-comments-section"
  comments=comments
  typers=typers
  sessionMember=sessionMember
  isShowingAllComments=isShowingAllComments
  isLoadingEarlier=isLoadingEarlier
  updateComment=(action "updateComment")
  deleteComment=(action "deleteComment")
  loadEarlier=(action "loadEarlier")
  newMessagesTop=newMessagesTop
  click=(action "hideMentionList")
}}

{{#if sessionMember}}
  <div class="c-footer js-chat-box">
    <section class="u-position-relative">
      {{#if isMentionListVisible}}
        {{mention-list
          classNames="c-mention-list--chat-box"
          items=members
          onSelectItem=(action "pickMentionMember")
        }}
      {{/if}}
    </section>

    {{chat-box
      isKeyboardOpen=isKeyboardOpen
      comment=currentComment
      onTapInput=(action "tappedInput")
      doComment=(action "createComment")
      doTyping=(action "doTyping")
      onKeyDown=(action "chatBoxTapEvent")
    }}
  </div>
{{/if}}

