<button {{action (action loadEarlier)}} class="btn amber || btn-load-earler btn--small">Load earlier</button>

<div {{action (action 'doTap')}}>
  {{#each sortedComments as |comment|}}
    {{stream-comment
      comment=comment
      updateComment=(action updateComment comment)
      deleteComment=(action deleteComment comment)
      classNames="chip || message"
    }}
  {{/each}}
</div>
