<div {{action (action 'doTap')}}>
  {{#each sortedComments as |comment|}}
    {{stream-comment
      comment=comment
      updateComment=(action updateComment comment)
      deleteComment=(action deleteComment comment)
      classNames="chip || message animated fadeInUp"
    }}
  {{/each}}
</div>
