.section-body {
  flex: 1 1 auto;
  position: relative;
  z-index: $z-body;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  &--login {
    @extend .section-body;
    display: flex;
    flex-direction: column;
    padding: 20px 0 10px;
    text-align: center;
    cursor: pointer;
  }

  &--streams {
    flex-direction: column;
    justify-content: center;
  }
}