.section-header {
	flex: 0 0 auto;
	z-index: $z-header;
	width: 100%;
	text-align: center;
	position: relative;

	&--login {
		@extend .section-header;
		padding: 20px 10px;
		color: map-get($shades, 'white');
		text-align: center;
	}
}

.stream-header {
	@extend .section-header;
	position: relative;
	font-size: 10px;
	padding: 5px 0;
}