<section class="c-tool-bar_first-section">
	{{inline-svg "images/icons/icon-sort" class="c-tool-bar_icon"}}
</section>

<section class="c-tool-bar_second-section">
	{{inline-svg "images/icons/icon-search" class="c-tool-bar_icon"}}
</section>

<section class="c-tool-bar_last-section" {{action (action "doEdit")}}>
  <p>
    {{#if isEditing}}
      Cancel
    {{else}}
      Edit
    {{/if}}
  </p>
</section>


