<form {{action 'doLogin' on='submit'}}>

  <label for="identification">Email</label>
  {{input id='identification' value=identification}}

  <label for="password">Password</label>
  {{input id='password' value=password}}

  <button type="submit">Login</button>
</form>