<header class="pink z-depth-1 || section-header--login">
	<h1>Samewave prototype</h1>
</header>

<section class="section-body--login">
	<form class="l-form" {{action 'doLogin' on='submit'}}>
		<div class="l-form_item c-input-field">
		  <label for="identification" class="c-input-field_label">Email</label>
		  {{input
		  	id='identification'
		  	type="email"
		  	value=identification
		  	required=true
		  	autofocus=true
		  	classNames="c-input-field_input"}}
	  </div>

	  <div class="l-form_item c-input-field">
		  <label for="password" class="c-input-field_label">Password</label>
		  {{input
		  	id='password'
		  	value=password
		  	required=true
		  	classNames="c-input-field_input"}}
	  </div>

	  <button type="submit" class="btn || l-form_item">
	  	Login
	  </button>
	</form>
</section>