{{#ember-dragula
	config=dragulaconfig
		drag="onDrag"
		dragend="onDragEnd"
		cloned="onCloned"}}
	  {{!-- <h2>Group A</h2> --}}
  {{#ember-dragula-container}}
    {{#each goals as |goal|}}
    	{{goal-block
    		goal=goal
    	}}
    {{/each}}
  {{/ember-dragula-container}}
{{/ember-dragula}}