{{tool-bar
  onEdit=(action "goToStreamEditScoreboard")}}


  {{#ember-dragula
    classNames="l-scoreboard-container"
  	config=dragulaconfig
  		drag="onDrag"
  		dragend="onDragEnd"
  		cloned="onCloned"
      over="onOver"}}
  	  {{!-- <h2>Group A</h2> --}}
    {{#ember-dragula-container id="js-scoreboard-up-area" classNames="c-scoreboard-detection--top"}}
    {{/ember-dragula-container}}

    {{#sw-ember-dragula
      classNames="js-scrollable-container"}}
      {{#each goals as |item|}}
        {{goal-block
          goal=item
          classNames="in-edit js-list-item"
          onDeleteGoal=(action "deleteGoal")}}
      {{/each}}
    {{/sw-ember-dragula}}

    {{#ember-dragula-container id="js-scoreboard-bottom-area" classNames="c-scoreboard-detection--bottom"}}
    {{/ember-dragula-container}}
  {{/ember-dragula}}
