<div {{action (action 'doTap')}}>
  {{#each comments as |comment|}}
    {{stream-comment
      comment=comment
      firstUnread=firstUnread
      updateComment=(action updateComment comment)
      deleteComment=(action deleteComment comment)
      doReadComment=(action doReadComment comment)
    }}
  {{/each}}
</div>