<div {{action (action 'doTap')}}>
  {{#each sortedComments as |comment|}}
    {{stream-comment
      comment=comment
      selectedComment=selectedComment
      onEdit=(action editComment)
      updateComment=(action updateComment comment)
      deleteComment=(action deleteComment comment)
    }}
  {{/each}}
</div>

{{#if false}}
  {{#if newMessagesTop}}
    {{message-marker top=newMessagesTop}}
  {{/if}}
{{/if}}

