<div {{action (action 'doTap')}}>
  {{#each comments as |comment|}}
    {{stream-comment
      comment=comment
      selectedComment=selectedComment
      onEdit=(action editComment)
      firstUnread=firstUnread
      lastComment=comments.lastObject
      onNewMarkerView=(action onNewMarkerView)
      updateComment=(action updateComment comment)
      deleteComment=(action deleteComment comment)
      doReadComment=(action doReadComment comment)
    }}
  {{/each}}
</div>