<div {{action (action 'doTap')}}>
  {{#each sortedComments as |comment|}}
    {{stream-comment
      comment=comment
      updateComment=(action updateComment comment)
      deleteComment=(action deleteComment comment)
    }}
  {{/each}}
</div>

{{#if unreadComments}}
  {{message-marker top=newMessagesTop}}
{{/if}}

