<div class="c-chat-notifier_first-section"></div>
<h2 class="c-chat-notifier_title">{{text}}</h2>
<div class="c-chat-notifier_close">
	{{inline-svg 'images/icons/icon-close' class="c-chat-notifier_close-icon"}}
</div>