<div class="c-unread-notifier_first-section">
	{{inline-svg "images/icons/icon-arrow-up" class="c-unread-notifier_icon-up"}}
</div>

<h2 class="c-unread-notifier_title">
	{{text}}
</h2>

<div class="c-unread-notifier_close">
	{{inline-svg "images/icons/icon-close" class="c-unread-notifier_close-icon"}}
</div>