@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.a-rotate {
  animation: rotate $speed-normal infinite;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.a-fade-in {
  animation: fade-in $speed-normal forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

.a-fade-out {
  animation: fade-out $speed-normal forwards;
}

@keyframes media-block-drag-mirror {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0.75;
    transform: scale(1.1);
  }
}

@keyframes grow-in--horizontal {
  0% { width: 0; }
  100% { width: 100%; }
}
