$colours: (
	'pink': #e91e63
);

// Z-index
$z-notice: 550;
$z-header: 500;
$z-body: 100;
$z-footer: 300;
$z-ground-floor: 0;
$z-middle-floor: 500;
$z-ceiling: 1000;
$z-top-floor: 900;
$z-chat-box: 250;

// Transition speeds
$speed-base: 500ms;
$speed-fast: $speed-base / 2;
$speed-normal: $speed-base;
$speed-slow: $speed-base * 2;
$speed-very-slow: $speed-base * 3;